body{
    background-color: rgba(70, 111, 199, 0.507);
}

header,footer{
    background-color: rgba(70, 70, 70, 0.685);
    height: 50px;
}

header img{
    height: 50px;
}

.carousel{
    margin: 30px 0;
    max-height: 400px;
    overflow: hidden;
}

.carousel img{
   width: 100%;
    margin-top: -200px;
}

h6{
    margin-bottom: 15px;
}

.row img{
    width: auto;
    height: 375px;
    display: block;
    margin: 0 auto;
}

.accordion{
    margin-bottom: 20px;
}

.accordion-item{
    margin-bottom: 3px;
}

#end{
    font-size: 14px;
}

#skills{
    margin-bottom: 30px;
}

.card{
    margin: 10px auto;
    width: 300px;
    height: 475px;
}

.card-text{
    margin: 0;
}

.card img{
    margin-top: 20px;
    width: 275px;
    height: 200px;
}

.text-center{
    height: 50px;
    padding: 15px 0;
}


.btn{
    height: 50px;
    width: 175px;
    text-align: center;
    padding: 12px 0;
    background-color: rgba(29, 71, 150, 0.61);
    border: rgba(29, 71, 150, 0.61);
    display: block;
    margin: 15px auto;
}

.btn:hover{
    background-color: rgba(29, 71, 150, 0.897);
}